* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1108px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    padding: 10px 27px;
}

.btn-b {
    border: 2px solid #959597;
    color: #959597;
    &:hover {
        background-color: #2b282f;
        color: #fff !important;
        border-color: #2b282f;
    }
}

.btn-w {
    border: 2px solid #fff;
    color: #fff;
    &:hover {
        background-color: #fff;
        color: #2b282f !important;
        border-color: #fff;
    }
}

// font-family: 'DM Serif Display', serif;
// font-family: 'Karla', sans-serif;