@import 'normalize.scss';
@import 'global.scss';
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo {}
}

.nav-menu {
    display: flex;
    min-width: 485px;
    justify-content: space-between;
    align-items: center;
    &__item {
        list-style: none;
        a {
            display: block;
            text-decoration: none;
            color: #9a989d;
            font-size: 0.9rem;
            letter-spacing: 1px;
            &:hover {
                color: #2b282f;
            }
        }
    }
}

.header-content {
    max-height: 600px;
    background-color: #2c2640;
    padding: 107px 0 127px;
    position: relative;
    &::before,
    &::after {
        content: "";
        position: absolute;
    }
    &::before {
        top: 0;
        right: 0;
        height: 593px;
        width: 440px;
        background: no-repeat url(../images/bg-pattern-intro-right-desktop.svg);
    }
    &::after {
        height: 504px;
        width: 195px;
        background: no-repeat url(../images/bg-pattern-intro-left-desktop.svg);
        left: 0;
        bottom: -340px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        max-width: 541px;
        color: #fff;
    }
    &__title {
        font-family: 'DM Serif Display', serif;
        padding: 65px 0 13px;
        font-size: 4.5rem;
        line-height: 4rem;
        font-weight: 400;
        margin: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            width: 152px;
            height: 1px;
            background-color: #fff;
            top: 0;
            left: 0;
        }
    }
    &__text {
        line-height: 1.5rem;
    }
    &__btn {
        margin-top: 22px;
    }
}

.content {
    padding: 306px 0 163px;
}

.content-title {
    font-family: 'DM Serif Display', serif;
    font-size: 4rem;
    letter-spacing: 2.2px;
    padding: 63px 0 70px;
    position: relative;
    margin-bottom: 20px;
    &::before {
        content: "";
        position: absolute;
        width: 152px;
        height: 1px;
        background-color: #b1a3b4;
        top: 0;
        left: 0;
    }
}

.content-row {
    display: flex;
    justify-content: space-between;
}

.content-item {
    max-width: 355px;
    &__title {
        font-family: 'DM Serif Display', serif;
        font-size: 1.6rem;
        margin-top: 33px;
    }
    &__text {
        line-height: 1.5rem;
        margin-top: 21px;
    }
}

.about {
    &__inner {}
}

.about-title {}

.about-btn {}

.footer {}

.footer-top {
    &__logo {}
    &__icon {}
}

.icon {
    &__item {}
}

.footer-bottom {}

.footer-col {
    &__title {}
    &__link {}
}

.attribution {}